@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@layer base {
	body {
		/* theme-black has been defined in tailwind config */
		@apply bg-theme-black text-white;
	}
	/* ===== Scrollbar CSS ===== */
	/* Firefox */
	* {
		scrollbar-width: thin;
		scrollbar-color: #e20522 transparent;
	}

	/* Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
		width: 84px;
	}

	*::-webkit-scrollbar-track {
		background: transparent;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #e20522;
		border-radius: 19px;
		border: 3px solid #ffffff;
	}
}

@layer components {
	.header-link {
		@apply cursor-pointer text-sm font-light text-[#e5e5e5] hover:text-[#b3b3b3] transition-all duration-[0.4s];
	}

	.banner-button {
		@apply flex items-center gap-2 py-2 px-6 md:py-3 md:px-8 rounded-sm text-sm font-semibold md:text-xl hover:opacity-75 transition-all duration-[0.4s];
	}
}

@layer utilities {
}
